@using Airline.Common.Enums
@model TimetableViewModel
@{
    ViewBag.Title = "Timetable list";
}

<div class="row">
    <div class="header col-12">
        <h3 class="float-left"> @ViewBag.Title</h3>
        <a href="@Url.Action("Create")" class="btn btn-primary float-right">Create new timetable</a>
    </div>
</div>

<p class="text-info"> @ViewBag.Message </p>


@using (Html.BeginForm("List", "Timetable", FormMethod.Get))
{
    <div class="form-row">
        @Html.LabelFor(m => m.SearchModel.SelectionKeyword, new { @class = "col-form-label col-sm-2" })
        @Html.EnumDropDownListFor(m => m.SearchModel.Selection, "Choose select field", new { @class = "custom-select form-control col-sm-2" })
        @Html.EditorFor(m => m.SearchModel.SelectionKeyword, new { htmlAttributes = new { @class = "form-control col-sm-4" } })
        <div class="col-sm-3">
            <input type="submit"  id="selectButton" value="Select by keyword" class="btn btn-info">
            </div>
    </div>
}

@using (Html.BeginForm("List", "Timetable", FormMethod.Get))
{
    <div class="form-row">
        @Html.LabelFor(m => m.SearchModel.SearchKeyword, new { @class = "col-form-label col-sm-2" })
        @Html.EditorFor(m => m.SearchModel.SearchKeyword, new { htmlAttributes = new { @class = "form-control col-sm-6" } })
        <div class="col-sm-3">
            <input type="submit" id="searchButton" value="Search" class="btn btn-info">
        </div>
    </div>
}

@using (Html.BeginForm("List", "Timetable", FormMethod.Get))
{
    <div class="form-row">
        @Html.LabelFor(m => m.SearchModel.SortField, new { @class = "col-form-label col-sm-2" })
        @Html.EnumDropDownListFor(m => m.SearchModel.SortField, "Choose sort field", new { @class = "custom-select form-control col-sm-2" })

        <div class="col-sm-3">
            <input type="submit" id="sortButton" value="Sort by field" class="btn btn-info">
        </div>
    </div>
}

<div id="tabl">
    @Html.Partial("Table")
</div>

@section Scripts{
    <script>
        @*$(document).ready(function () {
            $('#sortButton').click(function (e) {
                e.preventDefault();
                var name = $('#SearchModel_SortField').val();
                name = encodeURIComponent(name);
                console.log(name);
                var ref = '@Url.Action("Table", "Timetable")?SearchModel.SortField=' + name;
                console.log(ref);

                $('#tabl').load(ref);
            });

            $('#searchButton').click(function (e) {
                e.preventDefault();
                var name = $('#SearchModel_SearchKeyword').val();
                name = encodeURIComponent(name);
                console.log(name);
           //     var ref = '@Url.Action("Table", "Timetable")?SearchModel.SearchKeyword=' + name;
                var ref = 'https://www.google.com';
                console.log(ref);

                $('#tabl').load(ref);
            });
        });*@
    </script>
}
