@model TimetableViewModel
@{
    ViewBag.Title = "Timetable list";
}

<div class="row">
    <div class="header col-12">
        <h3 class="float-left"> @ViewBag.Title</h3>
        <a href="@Url.Action("Create")" class="btn btn-primary float-right">Create new timetable</a>
    </div>
</div>

<div class="row">
    <div class=" header col-12">
        @using (Html.BeginForm())
        {
            @Html.EnumDropDownListFor(m=>m.SearchModel.Selection)

            @Html.EditorFor(m=>m.SearchModel.SelectionKeyword)
            @Html.EditorFor(m=>m.SearchModel.SortField)
            <input type="submit">
        }
    </div>
</div>

<p class="text-info"> @ViewBag.Message </p>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th> From </th>
            <th> To </th>
            <th> Planned departure time </th>
            <th> Application status </th>
        </tr>
    </thead>
    @foreach (var item in @Model.TimetableList)
    {
        <tr class="clickable-row" data-href="@Url.Action("Edit", "Flight", new {id=item.Id})">
            <td>@item.Id</td>
            <td>@item.FlightFromIATA</td>
            <td>@item.FlightToIATA</td>
            <td>@item.DateTime</td>
            <td>@item.ApplicationStatus</td>
        </tr>
    }
</table>

@section Scripts{
    <script>
        $(document).ready(function() {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
}
