@using Airline.Common.Enums
<table class="table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Flight name</th>
        <th> From </th>
        <th> To </th>
        <th> Planned departure time </th>
        <th> Application status </th>
        <th> </th>
        <th> </th>
    </tr>
    </thead>
    @foreach (var item in @Model.TimetableList)
    {
        <tr class="clickable-row" data-href="@Url.Action("Edit", "Timetable", new {id=item.Id})">
            <td>@item.Id</td>
            <td>@item.FlightId</td>
            <td>@item.FlightFromIATA (@item.FlightFromName)</td>
            <td>@item.FlightToIATA (@item.FlightToName)</td>
            <td>@item.DateTime</td>
            <td>@item.ApplicationStatus</td>
            <td>
                @if (item.ApplicationStatus == ApplicationStatus.New)
                {
                    <a href="@Url.Action("Approve", new {id = item.Id})" class="btn btn-primary">
                        <span class="fa fa-check"></span>
                        Approve
                    </a>
                }
                @if (item.ApplicationStatus == ApplicationStatus.Attention)
                {
                    <a href="@Url.Action("Resolve", new {id = item.Id})" class="btn btn-primary">
                        <span class="fa fa-edit"></span>
                        Resolve
                    </a>
                }
            </td>
            <td>
                <a href="@Url.Action("Delete", new {id = item.Id})" class="btn btn-danger">
                    <span class="fa fa-trash"></span>
                    Delete
                </a>
            </td>
        </tr>
    }
</table>
