@model FlightViewModel
@{
    ViewBag.Title = "Create flight";
}

<div class="row">
    <div class="header col-12">
        <h3 class="float-left">@Html.ActionLink("List of flight", "List") / @ViewBag.Title</h3>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    @Html.HiddenFor(w => w.Id)


    <div class="form-group row">
        @Html.LabelFor(f => f.FromIATA, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(f => f.FromIATA, (IEnumerable<SelectListItem>)ViewBag.AirportSelectList, new { @class = "form-control"})
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(f => f.ToIATA, new { @class = "col-form-label col-sm-2" })
        <div class="col-sm-10">
            @Html.DropDownListFor(f => f.FromIATA, (IEnumerable<SelectListItem>)ViewBag.AirportSelectList, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(f => f.PlannedDepartureTime, new { @class = "col-form-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(w => w.PlannedDepartureTime, new
       {
           id = "datetimepicker",
           @class = "form-control",
           data_toggle = "datetimepicker",
           data_target = "#datetimepicker"
       })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(f => f.PlannedFlightTime, new { @class = "col-form-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(w => w.PlannedFlightTime, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2 offset-md-2">
            <input type="submit" class="btn btn-success" value="Save changes">
        </div>
    </div>
}

@section Styles{
    @*<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />@*
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />*@
}

@section Scripts{
    <script src="~/Scripts/moment.min.js"></script>@*
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>*@
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(function () {
            $('#datetimepicker').datetimepicker();
        });

    (function ($) {
        $.validator.addMethod('rangeDate',
            function (value, element, param) {
                if (!value) {
                    return true;
                }
                try {
                    var dateValue = new Date(value);
                }
                catch (e) {
                    return false;
                }
                var res = param.min <= dateValue && dateValue <= param.max;
                console.log(res);
                return res;
            });

        // The adapter to support ASP.NET MVC unobtrusive validation
        $.validator.unobtrusive.adapters.add('rangedate', ['min', 'max'],
            function (options) {
                var params = {
                    min: new Date(options.params.min),
                    max: new Date(options.params.max)
                };

                options.rules['rangeDate'] = params;
                if (options.message) {
                    options.messages['rangeDate'] = options.message;
                }
            });
        }(jQuery));

        $(document).mouseup(function(e) 
        {
            var container = $(".bootstrap-datetimepicker-widget");

            // if the target of the click isn't the container nor a descendant of the container
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                $('#datetimepicker').datetimepicker("hide");
            }
        });

    </script>
}