@model FlightViewModel
@{
    ViewBag.Title = "Edit flight";
}

<div class="row">
    <div class="header col-12">
        <h3 class="float-left">@Html.ActionLink("List of flights", "List") / @ViewBag.Title</h3>
        <a href="@Url.Action("Delete", routeValues: new {id = @Model.Id})" class="btn btn-danger float-right"> Delete this flight </a>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    @Html.HiddenFor(f => f.Id)

    <div class="form-group row">
        @Html.LabelFor(f => f.FromIATA, new { @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(f => f.FromIATA, (IEnumerable<SelectListItem>)ViewBag.AirportSelectList, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(f => f.ToIATA, new { @class = "col-form-label col-sm-2" })
        <div class="col-sm-10">
            @Html.DropDownListFor(f => f.ToIATA, (IEnumerable<SelectListItem>)ViewBag.AirportSelectList, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(f => f.PlannedDepartureTime, new { @class = "col-form-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(w => w.PlannedDepartureTime, new
       {
           id = "datetimepicker",
           @class = "form-control",
           data_toggle = "datetimepicker",
           data_target = "#datetimepicker"
       })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(f => f.PlannedFlightTime, new { @class = "col-form-label col-sm-2" })
        <div class="col-sm-10">
            @Html.TextBoxFor(w => w.PlannedFlightTime, new { @class = "form-control"})
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2 offset-md-2">
            <input type="submit" class="btn btn-success" value="Save changes">
        </div>
    </div>
}

@section Styles{
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(function () {
            $('#datetimepicker').datetimepicker();
        });

        (function($) {
            $.validator.addMethod('notEqualTo',
                function(value, element, param) {
                    return this.optional(element) || value != $(param).val();
                },
                '');

            $.validator.unobtrusive.adapters.add('notequalto',
                ['other'],
                function(options) {
                    options.rules['notEqualTo'] = '#' + options.params.other;
                    if (options.message) {
                        options.messages['notEqualTo'] = options.message;
                    }
                });
        })(jQuery);

        $(document).mouseup(function(e)
        {
            var container = $(".bootstrap-datetimepicker-widget");

            // if the target of the click isn't the container nor a descendant of the container
            if (!container.is(e.target) && container.has(e.target).length === 0) {
                $('#datetimepicker').datetimepicker("hide");
            }
        });

    </script>
}