@model IEnumerable<FlightViewModel>
@{
    ViewBag.Title = "List of flights";
}

<div class="row">
    <div class=" header col-12">
        <h3 class="float-left">@ViewBag.Title</h3>
        <a href="@Url.Action("Create")" class="btn btn-primary float-right">Create new flight</a>
    </div>
</div>

<p class="text-info"> @ViewBag.Message </p>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th> Planned departure time</th>
        <th> Planned Flight</th>
        <th> From </th>
        <th> To </th>
    </tr>
    </thead>
    @foreach (var item in @Model)
    {
        <tr class="clickable-row" data-href="@Url.Action("Edit", "Flight", new {id=item.Id})">
            <td>@item.Id</td>
            <td>@item.PlannedDepartureTime</td>
            <td>@item.PlannedFlightTime</td>
            <td>@item.FromIATA</td>
            <td>@item.ToIATA</td>
        </tr>
    }
</table>

@section Scripts{
    <script>
        $(document).ready(function() {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
}