@model CrewViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group row">
        @Html.LabelFor(m => m.CrewCompositionId, new { @class = "col-sm-2 col-form-label" })
        <div class="col">
            @Html.DropDownListFor(m => m.CrewCompositionId, Model.CompositionSelectList, new { @class = "form-control col-sm-10" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.SelectedCaptains, new { @class = "col-sm-2 col-form-label" })
        <div class="col">
            @Html.ListBoxFor(m => m.SelectedCaptains, Model.CaptainSelectList, new { @class = "form-control  col-sm-10" })
        </div>
        
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.SelectedAircraftPilots, new { @class = "col-sm-2 col-form-label" })
        <div  class="col">
            @Html.ListBoxFor(m => m.SelectedAircraftPilots, Model.AircraftPilotSelectList, new { @class = "form-control col-sm-10" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.SelectedNavigatorOfficers, new { @class = "col-sm-2 col-form-label" })
        <div class="col">
            @Html.ListBoxFor(m => m.SelectedNavigatorOfficers, Model.NavigatorOfficerSelectList, new { @class = "form-control col-sm-10" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(m => m.SelectedRadioOperators, new { @class = "col-sm-2 col-form-label" })
        <div class="col">
            @Html.ListBoxFor(m => m.SelectedRadioOperators, Model.RadioOperatorSelectList, new { @class = "form-control col-sm-10" })
        </div>
    </div>
    
    <div class="form-group row">
        @Html.LabelFor(m => m.SelectedHostess, new { @class = "col-sm-2 col-form-label" })
        <div class="col">
            @Html.ListBoxFor(m => m.SelectedHostess, Model.AirHostessSelectList, new { @class = "form-control col-sm-10" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2 offset-sm-2">
            <input type="submit" class="btn btn-success" value="Create crew">
        </div>
    </div>
}

@section Scripts
{
    <script>
        $('option').mousedown(function (e) {
            e.preventDefault();
            $(this).prop('selected', !$(this).prop('selected'));

            var inputValue = $(this).parent().prop('id');

            var labl = $('label').filter(function(){
                return $(this).prop('for') === inputValue;
            });
            //console.log(this);
            //console.log(parent);
            console.log(labl[0]);

            return false;
        });

        var selections = $('#CrewCompositionId')[0];
        console.log();
        console.log(selections);

        function Composition() {
            
        }
    </script>
}
